/* Banner */
main {
  margin-bottom: 10rem;
}
.mis-label,
.vis-label {
  font-size: clamp(1.2rem, 2rem + 2vw, 4rem);
  padding: 1rem;
}

.mis-label h2::before,
.vis-label h2::before {
  content: "our  ";
  color: #f3cc8e;
  height: min-content;
  line-height: 0;
  font-size: clamp(1rem, 2rem, 4rem);
}

.mis {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 2fr;
  align-items: center;
  margin-bottom: 5rem;
}

.mis-label {
  justify-self: center;
}

.mis-content {
  padding: 3rem;
  justify-self: center;
  text-align: justify;
  font-size: clamp(0.9rem, 1rem + 0.5vw, 1.5rem);
}

.mis-content .list {
  margin-bottom: 1rem;
}

.vis {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.vis-content {
  text-align: start;
  font-size: clamp(1rem, 1rem + 1.2vw, 1.8rem);
  padding: 1rem;
}

.officers-label {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 8rem;
}

.officers-label::before,
.officers-label::after {
  content: "-";
  width: 200px;
  margin: 1rem;

  text-align: center;
}

.officers {
  margin-bottom: 2rem;
}

.officers-ceo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  transform: translateX(-100%);
  transition: transform 1s ease;
}

.ceo-show {
  transform: translateX(0);
}

.officers-ceo .profile,
.officers-cfo .profile {
  background: #f3cc8e;
  background: linear-gradient(
    0deg,
    rgba(243, 204, 142, 1) 50%,
    rgba(24, 24, 24, 1) 50%
  );
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  border-radius: 5px;
}

.profile .name {
  color: #000;
  justify-self: center;
  align-self: flex-end;
  font-size: clamp(1rem, 1rem + 1vw, 2.5rem);
  margin-bottom: 6rem;
  font-weight: bold;
}

.profile .image-container {
  margin: 1rem;
  margin-bottom: 0;
  justify-self: end;
  min-width: 100px;
}

.officers-ceo .label,
.officers-cfo .label {
  font-size: clamp(2rem, 7rem + 1vw, 12rem);
  justify-self: center;
  align-self: center;
  opacity: 0.7;
}

.officers-ceo .more,
.cfo-show .more {
  padding: 3rem;
  font-size: 1.1rem;
  line-height: 2;
  text-align: justify;
}

.officers-cfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  transform: translateX(100%);
  transition: transform 1s ease;
}

.cfo-show {
  transform: translateX(0%);
}

.cfo-show .more {
  grid-column-start: -2;
  grid-column-end: -1;
}

.officers-cfo .profile {
  background: linear-gradient(
    0deg,
    rgba(243, 204, 142, 1) 50%,
    rgba(24, 24, 24, 1) 50%
  );
}

.officers-cfo .profile .name {
  font-size: clamp(1rem, 0.7rem + 0.7vw, 3rem);
}

.ending {
  padding: 8rem 10rem;
  border-top: 1px solid rgb(243, 204, 142, 0.5);
  border-bottom: 1px solid rgb(243, 204, 142, 0.5);
}

.ending p {
  font-size: clamp(1rem, 1rem + 1.2vw, 2.5rem);
  text-align: center;
}

.mobile-socmed {
  display: none;
}

@media (max-width: 1200px) {
  .profile .image-container {
    margin: 0;
  }

  .profile .name {
    margin-bottom: 3rem;
  }

  .mis-content {
    padding: 1.5rem;
  }
}

@media (max-width: 775px) {
  main {
    margin-bottom: 0;
  }

  .mis,
  .vis {
    display: block;
    margin-bottom: 1.5rem;
  }

  .mis-label,
  .vis-label {
    text-align: center;
  }

  .mis-content,
  .vis-content {
    padding: 0.75rem;
    font-size: 1rem;
    text-align: center;
  }

  .officers-label {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .officers-ceo,
  .officers-cfo {
    display: block;
    transform: translate(0%);
  }

  .officers-cfo .profile {
    grid-template-columns: 2fr 1fr;
  }

  .officers-ceo .profile .name {
    font-size: clamp(0.7rem, 1rem + 0.5vw, 2rem);
  }

  .profile .name {
    margin-bottom: 2.5rem;
  }

  .officers-ceo .label,
  .officers-cfo .label {
    display: none;
  }

  .officers-ceo .profile .name::after {
    content: "CEO";
    color: #000;
    display: block;
    text-align: center;
    margin-top: 5px;
  }

  .officers-cfo .profile .name::after {
    content: "CFO";
    color: #000;
    display: block;
    text-align: center;
    margin-top: 5px;
  }

  .officers-cfo .profile .name {
    font-size: clamp(0.5rem, 0.75rem + 0.3vw, 2rem);
  }

  .officers-ceo .more,
  .cfo-show .more {
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .ending {
    padding: 2rem;
  }

  .ending p {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .profile .name {
    margin-bottom: 1rem;
  }
}
