/* Main section Company Name with Pictures */

.hero-section {
  background-image: url("./assets/mainbg1.png");
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  /* padding-bottom: 7rem; */
  height: 100vh;
}

.hero-section-content {
  margin-top: 3.5rem;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.hero-section-content .title-container {
  align-self: flex-start;
}

.hero-section-content .title-container h1 {
  font-size: 8.5rem;
  color: #f3cc8e;
}

.hero-section-content .title-container h2 {
  font-size: 2.5rem;
}

.hero-section-content .mobile-contact-btn {
  display: none;
}

.hero-two-image-container {
  align-self: center;
  display: flex;
  min-height: 500px;
  gap: 1.5rem;
}

.hero-two-image-container div:last-child {
  align-self: flex-end;
}

.hero-two-image-container div:first-child {
  align-self: flex-start;
}

.hero-two-image-container .image-container {
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 1.5rem;
}

.content-section {
  background-image: url("./assets/subtextbg.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Slogan Section  */

.content-section-slogan {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5rem;
}

.content-section-slogan p {
  font-size: 3rem;
  color: #000;
}

.content-section-slogan .slogan-services-btn {
  background: #eab766;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  border: 2px solid black;
  border-radius: 1rem;
  color: #000;
}

.content-section-slogan .slogan-services-btn {
  cursor: pointer;
}

/* Why Choose Us Section */

.content-section-features {
  padding: 6rem 15rem;
}

.content-section-features .label {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.content-section-features .feature {
  display: grid;
  gap: 1rem;
  text-align: center;
  will-change: background-position;
  background: linear-gradient(
    90deg,
    rgba(243, 204, 142, 1) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 100ms ease;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 4fr;
}

.feature:hover {
  background-position: left;
  cursor: pointer;
}

.feature-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-title p {
  font-size: 2.5rem;
  text-align: end;
}

.feature-desc {
  padding: 1rem;
  text-align: start;
  font-size: 1.5rem;
  color: white;
}

.feature-hovered {
  color: black;
}

/* Partners Section */

.content-section-partners {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 1rem;
  padding-bottom: 6rem;
}

.content-section-partners .label {
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
}

.content-section-partners .partners-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 4rem 4rem;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.partner .image-container {
  width: 250px;
  height: auto;
  border-radius: 3rem;
  overflow: hidden;
}

.partner .name {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .tablet {
    display: none;
  }

  .hero-two-image-container {
    justify-content: center;
    align-items: center;
  }

  .content-section {
    background: none;
  }

  .content-section-slogan {
    padding: 4rem;
  }

  .content-section-slogan p {
    font-size: 2rem;
  }

  .content-section-slogan .slogan-services-btn {
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .content-section-features {
    background: url("./assets/mobilesubtextbg.png");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding: 2rem 5rem;
  }

  .content-section-features .label {
    font-size: 3rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .content-section-features .feature {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    text-align: center;
    will-change: auto;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
  }

  .feature-title {
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    transition: none;
  }

  .feature-title p {
    font-size: 2rem;
    text-align: center;
  }

  .feature-desc {
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .content-section-partners {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
  }

  .content-section-partners .partners-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 1rem 8rem;
  }

  .content-section-partners .partner {
    justify-content: flex-start;
  }

  .partner .image-container {
    max-width: 180px;
    min-width: 120px;
    border-radius: 4rem;
  }

  .partner .name {
    text-align: center;
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    background-image: url("./assets/mobilemainbg.png");
  }

  .hero-two-image-container {
    display: none;
  }

  .hero-section-content,
  .hero-section-content .mobile-contact-btn {
    display: block;
  }

  .hero-section-content {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .hero-section-content .title-container h1 {
    font-size: 6rem;
  }

  .hero-section-content .title-container h2 {
    font-size: 2rem;
  }

  .hero-section-content .mobile-contact-btn {
    background-color: #f3cc8e;
    color: #000;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    padding: 0.3rem 1rem;
  }

  .content-section {
    background: none;
  }
  
  .content-section-slogan {
    padding: 2rem;
  }

  .content-section-slogan p {
    font-size: 1.4rem;
  }

  .content-section-slogan .slogan-services-btn {
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
  }

  .content-section-features {
    padding: 2rem 1rem;
  }

  .content-section-features .label {
    font-size: 2rem;
  }

  .content-section-features .feature {
    padding: 0.5rem;
  }

  .feature-title p {
    font-size: 1.5rem;
  }

  .feature-desc {
    font-size: 1rem;
  }

  .content-section-partners {
    padding-bottom: 3rem;
  }

  .content-section-partners .partners-container {
    gap: 1rem;
    padding: 1rem;
  }

  .partner .image-container {
    max-width: 110px;
    min-width: 70px;
  }

  .partner .name {
    font-size: 1.1rem;
  }
}
