@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
*::before,
*::after {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  color: #f3cc8e;
  text-decoration: none;
  list-style-type: none;
}

*,
ul {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #181818;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Navbar */

.nav {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.nav-logo-container {
  width: 45px;
  height: auto;
  overflow: hidden;
}

.nav-center-bar {
  max-width: 900px;
  border-radius: 2rem;
  padding: 1rem 5rem;
  background-color: #292622;
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  font-weight: 1500;
  margin: 0 auto;
  text-transform: uppercase;
}

.nav-center-bar-contact {
  display: none;
}

.nav-center-bar-link{
  color: #fff;
}

.nav-center-bar-link:hover {
  color: #f3cc8e;
}

.nav-contact-button {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: #181818;
  border: 1px solid #f3cc8e;
  color: #f3cc8e;
}

.nav-contact-button:hover {
  color: #181818;
  background-color: #f3cc8e;
  border: 1px solid #181818;
  cursor: pointer;
}

.nav-current-page-highlight{
  color: #f3cc8e;
}

/* Main Banner */
.main-banner {
  background: #f3cc8e;
  width: 50vw;
  padding-left: 25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-banner h1 {
  font-size: clamp(1rem, 1.4rem + 3vw, 5rem);
  color: black;
  border-radius: 0.5rem;
  white-space: nowrap;
}

/* Footer */

footer {
  background: #212121;
}

.footer-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  justify-items: center;
  padding: 0.5rem;
}

.footer-title-quote .title {
  font-size: 2rem;
  text-align: center;
  color: grey;
}

.footer-title-quote .short-quote {
  font-size: 1rem;
  text-align: center;
}

.footer-socmed .label,
.footer-contacts .label {
  text-align: center;
  margin-bottom: 0.5rem;
  color: grey;
}

.footer-socmed .label {
  margin-bottom: 1rem;
}

.footer-logos-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-logo-container {
  width: 1.8rem;
  height: auto;
}

.footer-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-numbers > p {
  font-size: 1.1rem;
}

.copyright {
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

.banner .text {
  font-size: 4rem;
  text-align: center;
  color: #f3cc8e;
}

/* Frame */

.frame{
  margin-bottom: 1rem;
}
.frame-hidden {
  display: none;
}

/* Polaroid */
.polaroid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.polaroid p {
  font-size: 2rem;
  opacity: 0.9;
  text-align: center;
}

.polaroid-image-container {
  width: 75%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.polaroid-image-container img {
  border: 12px solid white;
  border-bottom: 65px solid white;
}

.show-button {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 1rem 1rem;
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
  opacity: 0.5;
  background-color: #181818;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 3px solid rgb(255, 255, 255, 0.3);
  border-top: none;
}

.show-button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.hidden {
  display: none;
}

.carousel-mobile {
  display: none;
  margin-bottom: 4rem;
}

.carousel {
  margin-bottom: 10rem;
  border-top: 1px solid #f3cc8e;
  border-bottom: 1px solid #f3cc8e;
  padding: 2rem 0 2rem 0;
}

.carousel-content-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-btn {
  z-index: 1;
  font-size: 5rem;
  color: #f3cc8e;
  background-color: inherit;
  text-align: center;
  border: none;
  padding: 1rem;
  opacity: 0.5;
}

.carousel-btn:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
  color: #f3cc8e;
}

.carousel-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image-container {
  display: none;
  overflow: hidden;
  z-index: 0;
}

.carousel-image-container img {
  pointer-events: none;
}

.carousel-show {
  display: block;
}

/* carousel move right */

.slide-right {
  transform: translateX(100%);
  transition: transform 500ms ease;
}

/* carousel move left */

.slide-left {
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

/* Indicator */

.indicator {
  display: flex;
  justify-content: center;
  line-height: 0;
  gap: 0.5rem;
  padding: 10px;
}

.index {
  width: 10px;
  height: 10px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.3);
}

.index-selected {
  background-color: rgb(255, 255, 255, 1);
}

/* Catalog */

.catalog {
  padding-bottom: 5rem;
}

.catalog-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
  padding: 2rem 5rem;
}

.catalog-label,
.catalog-selector {
  font-size: 1.5rem;
  margin: 3rem 0rem 1rem 0rem;
}

.catalog-label {
  margin-left: 5rem;
}

.catalog-selector,
.catalog-option {
  color: black;
}

.catalog-selector {
  padding: 0.5rem;
}

.catalog-option:hover {
  cursor: pointer;
}

/* List */
  
.list-name {
  padding: 1rem;
  background: #f3cc8e;
  border: 1px solid;
  color: #000;
  font-size: 1.2rem;
}

.list-name:hover {
  cursor: pointer;
}

.list {
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 2rem;
}

.list-inactive {
  display: none;
}

.list-name-inactive::before {
  content: "► ";
  color: #000;
}

.list-name-active::before {
  content: "▼ ";
  color: #000;
}

@media (max-width: 1200px) {
  .footer-logo-container {
    width: 1.4rem;
    height: auto;
  }
}

@media (max-width: 775px) {
  .nav {
    padding: 2rem 0.5rem;
    display: block;
  }

  .nav-logo-container,
  .nav-contact-button {
    display: none;
  }

  .nav-center-bar {
    padding: 1rem;
    gap: 1.5rem;
    justify-content: center;
  }

  .nav-center-bar-contact {
    display: block;
  }

  .nav-contact-button {
    display: none;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-title-quote .title {
    font-size: 1.2rem;
  }

  .footer-title-quote .short-quote {
    font-size: 0.6rem;
    text-align: center;
  }

  .footer-socmed .label,
  .footer-contacts .label {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .footer-logos-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-items: center;
    gap: 0;
    row-gap: 7px;
  }

  .footer-logo-container {
    width: 1.2rem;
  }

  .footer-numbers > p {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .banner .text {
    font-size: 2rem;
  }

  .polaroid p {
    font-size: 1rem;
  }

  .polaroid-image-container {
    width: 85%;
  }

  .polaroid-image-container img {
    border: 7px solid white;
    border-bottom: 30px solid white;
  }

  .carousel {
    display: none;
  }

  .carousel-mobile {
    display: block;
  }

  .catalog-label-selector-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .catalog-content-wrapper {
    padding: 1rem 1.5rem;
  }

  .catalog-label,
  .catalog-selector {
    font-size: 1rem;
    margin: 3rem 0rem 1rem 0rem;
  }

  .list-name {
    padding: 0.7rem;
    font-size: 0.8rem;
  }

  .list {
    padding: 0.5rem;
    padding-left: 1.5rem;
    font-size: 0.7rem;
  }

  .main-banner {
    width: 75vw;
    margin: 2rem 0rem;
  }

  .show-button {
    width: 80%;
    font-size: 1.5rem;
  }

}

@media (max-width: 500px) {
  .nav-center-bar {
    font-size: 0.8rem;
    gap: 1rem;
  }
}
