/* Banner */
main {
  margin-bottom: 10rem;
}

.main-banner {
  background: #f3cc8e;
  width: 50vw;
  padding-left: 25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-banner h1 {
  font-size: clamp(1rem, 1.4rem + 3vw, 5rem);
  color: black;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.int-projects {
  margin-bottom: 10rem;
}

.int-projects h1,
.local-projects h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}


.local-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
  margin-bottom: 5rem;
}

.panel-container .panel {
  margin-bottom: 3rem;
}

.panel h2 {
  font-size: 2rem;
}

.panel .list {
  margin-top: 2rem;
  padding-right: 2px;
  height: 60vh;
  overflow-y: auto;
  border-radius: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #f3cc8e #181818;
}

.list .list-item {
  padding: 2rem 1rem;
  font-size: 1.7rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
  color: black;
  background-color: rgba(243, 204, 142, 1);
}

.local-projects .show-button {
  width: 30%;
}

.short-list {
  height: auto !important;
}


.panel-hidden {
  display: none;
}

@media (max-width: 775px) {
  .int-projects h1,
  .local-projects h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
  }

  .int-projects {
    margin-bottom: 2.5rem;
  }

  .hero-section-nav {
    padding: 2rem 0.5rem;
    display: block;
  }

  .hero-section-nav .logo-container,
  .nav-contact-button {
    display: none;
  }

  .hero-section-nav .center-bar {
    padding: 1rem;
    gap: 1.5rem;
    justify-content: center;
  }

  #center-bar-contact {
    display: block;
  }

  main {
    margin-bottom: 0;
  }

  .nav-contact-button {
    display: none;
  }

  .main-banner {
    width: 75vw;
    margin: 2rem 0rem;
  }

  .local-projects .show-button,
  .show-button {
    width: 80%;
    font-size: 1.5rem;
  }
  
  .local-projects {
    padding: 1.5rem;
  }

  .panel h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .panel .list {
    height: 30vh;
  }

  .list .list-item {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
