@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
*,
*::before,
*::after {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  color: #f3cc8e;
  text-decoration: none;
  list-style-type: none;
}

*,
ul {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #181818;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.hero-section-nav {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.hero-section-nav .logo-container {
  width: 45px;
  height: auto;
  overflow: hidden;
}

.hero-section-nav .center-bar {
  max-width: 900px;
  border-radius: 2rem;
  padding: 1rem 5rem;
  background-color: #292622;
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  font-weight: 1500;
  margin: 0 auto;
  text-transform: uppercase;
}

#center-bar-contact {
  display: none;
}
.hero-section-nav .center-bar a:hover {
  color: #f3cc8e;
  cursor: pointer;
}

.hero-section-nav .nav-contact-button,
.nav-contact-button {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: #181818;
  border: 1px solid #f3cc8e;
}

.nav-contact-button:hover {
  color: black;
  background-color: #f3cc8e;
  cursor: pointer;
}

/* Banner */
main {
  margin-bottom: 10rem;
}

.main-banner {
  background: #f3cc8e;
  width: 50vw;
  padding-left: 25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-banner h1 {
  font-size: clamp(1rem, 1.4rem + 3vw, 5rem);
  color: black;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.int-projects {
  margin-bottom: 10rem;
}

.int-projects h1,
.local-projects h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.polaroid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
}

.image-container {
  width: 75%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  border: 12px solid white;
  border-bottom: 65px solid white;
}

.polaroid {
  padding: 2rem;
}

.polaroid p {
  font-size: 2rem;
  opacity: 0.9;
  text-align: center;
}

.show-button {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 1rem 1rem;
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
  opacity: 0.5;
  background-color: #181818;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 3px solid rgb(255, 255, 255, 0.3);
  border-top: none;
}

.show-button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.local-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
  margin-bottom: 5rem;
}

.panel-container .panel {
  margin-bottom: 3rem;
}

.panel h2 {
  font-size: 2rem;
}

.panel .list {
  margin-top: 2rem;
  padding-right: 2px;
  height: 60vh;
  overflow-y: auto;
  border-radius: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #f3cc8e #181818;
}

.list .list-item {
  padding: 2rem 1rem;
  font-size: 1.7rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
  color: black;
  background-color: rgba(243, 204, 142, 1);
}

.local-projects .show-button {
  width: 30%;
}

.short-list {
  height: auto !important;
}

.hidden {
  display: none;
}

footer {
  background-color: #212121;
}

.footer-content {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}

.footer-title-quote > * {
  text-align: center;
  padding: 0rem 6rem;
  color: gray;
}

.footer-title-quote .title {
  color: #f3cc8e;
  font-size: 2rem;
}

.footer-title-quote .short-quote {
  display: block;
}

.footer-socmed p,
.footer-contacts > p {
  font-size: 1;
  color: gray;
}

.footer-socmed .logos-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

.footer-contacts .numbers {
  color: white;
  padding-left: 1rem;
}

footer .copyright {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

@media (max-width: 1200px) {
  footer {
    margin-top: 1rem;
  }

  .footer-content {
    padding: 0rem;
    padding-top: 1rem;
    gap: 0.5rem;
  }

  .footer-title-quote .title {
    font-size: 1.8rem;
    padding: 0rem 1rem;
  }

  .footer-title-quote .short-quote {
    display: block;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }

  .footer-socmed,
  .footer-contacts {
    padding-top: 0.3rem;
  }

  .footer-socmed .label,
  .footer-contacts .label {
    font-size: 1rem;
  }

  .footer-socmed .logos-wrapper {
    padding-left: 1rem;
    gap: 1rem;
  }

  .footer-contacts .numbers > * {
    font-size: 1rem;
  }

  footer .copyright {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
  }
}

@media (max-width: 775px) {
  .int-projects h1,
  .local-projects h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
  }

  .int-projects {
    margin-bottom: 2.5rem;
  }

  .image-container {
    width: 85%;
  }

  .image-container img {
    border: 7px solid white;
    border-bottom: 30px solid white;
  }

  .polaroid p {
    font-size: 1rem;
  }

  .hero-section-nav {
    padding: 2rem 0.5rem;
    display: block;
  }

  .hero-section-nav .logo-container,
  .nav-contact-button {
    display: none;
  }

  .hero-section-nav .center-bar {
    padding: 1rem;
    gap: 1.5rem;
    justify-content: center;
  }

  #center-bar-contact {
    display: block;
  }

  main {
    margin-bottom: 0;
  }

  .nav-contact-button {
    display: none;
  }

  .main-banner {
    width: 75vw;
    margin: 2rem 0rem;
  }

  .local-projects .show-button,
  .show-button {
    width: 80%;
    font-size: 1.5rem;
  }
  .local-projects {
    padding: 1.5rem;
  }

  .panel h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .panel .list {
    height: 30vh;
  }

  .list .list-item {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .footer-title-quote .title {
    font-size: 1rem;
  }

  .footer-title-quote .short-quote {
    padding: 0.3rem;
    font-size: 0.5rem;
  }

  .footer-socmed .label,
  .footer-contacts .label {
    font-size: 0.5rem;
  }

  .footer-socmed .logos-wrapper {
    gap: 0.5rem;
  }

  .logos-wrapper a svg {
    height: 0.75em;
    width: 0.75em;
  }

  .footer-contacts .numbers > * {
    font-size: 0.6rem;
  }

  footer .copyright {
    font-size: 0.5rem;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-section-nav .center-bar {
    font-size: 0.8rem;
    gap: 1rem;
  }
}
