* {
  box-sizing: border-box;
  color: white;
}

/* Carousel */

.carousel-mobile {
  display: none;
}

.carousel {
  margin-bottom: 10rem;
  border-top: 1px solid #f3cc8e;
  border-bottom: 1px solid #f3cc8e;
  padding: 2rem 0 2rem 0;
}

.carousel-content-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-btn {
  z-index: 1;
  font-size: 5rem;
  color: #f3cc8e;
  background-color: inherit;
  text-align: center;
  border: none;
  padding: 1rem;
  opacity: 0.5;
}

.carousel-btn:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
  color: #f3cc8e;
}

.carousel-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image-container {
  display: none;
  overflow: hidden;
  z-index: 0;
}

.carousel-image-container img {
  pointer-events: none;
}

.carousel-show {
  display: block;
}

/* carousel move right */

.slide-right {
  transform: translateX(100%);
  transition: transform 500ms ease;
}

/* carousel move left */

.slide-left {
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

/* Indicator */

.indicator {
  display: flex;
  justify-content: center;
  line-height: 0;
  gap: 0.5rem;
}

.index {
  width: 10px;
  height: 10px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.3);
}

.index-selected {
  background-color: rgb(255, 255, 255, 1);
}

/* Catalog */

.catalog {
  padding-bottom: 5rem;
}

.catalog-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
  padding: 2rem 5rem;
}

.catalog-label,
.catalog-selector {
  font-size: 1.5rem;
  margin: 3rem 0rem 1rem 0rem;
}

.catalog-label {
  margin-left: 5rem;
}

.catalog-selector,
.catalog-option {
  color: black;
}

.catalog-selector {
  padding: 0.5rem;
}

.catalog-option:hover {
  cursor: pointer;
}

/* List */

.list-name {
  padding: 1rem;
  background: #f3cc8e;
  border: 1px solid;
  color: #000;
  font-size: 1.2rem;
}

.list-name:hover {
  cursor: pointer;
}

.list {
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 2rem;
}

.list-inactive {
  display: none;
}

.list-name-inactive::before {
  content: "► ";
  color: #000;
}

.list-name-active::before {
  content: "▼ ";
  color: #000;
}

/**/

@media (max-width: 775px) {
  .carousel {
    display: none;
  }

  .carousel-mobile {
    display: block;
  }

  .catalog-label-selector-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .catalog-content-wrapper {
    padding: 1rem 1.5rem;
  }

  .catalog-label,
  .catalog-selector {
    font-size: 1rem;
    margin: 3rem 0rem 1rem 0rem;
  }

  .list-name {
    padding: 0.7rem;
    font-size: 0.8rem;
  }

  .list {
    padding: 0.5rem;
    padding-left: 1.5rem;
    font-size: 0.7rem;
  }
}
