* {
  box-sizing: border-box;
}

@import "./about.css";

.hero-section-nav {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.hero-section-nav .logo-container {
  width: 45px;
  height: auto;
  overflow: hidden;
}

.hero-section-nav .center-bar {
  max-width: 900px;
  border-radius: 2rem;
  padding: 1rem 5rem;
  background-color: #292622;
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  font-weight: 1500;
  margin: 0 auto;
  text-transform: uppercase;
}

#center-bar-contact {
  display: none;
}
.hero-section-nav .center-bar a:hover {
  color: #f3cc8e;
  cursor: pointer;
}

.hero-section-nav .nav-contact-button,
.nav-contact-button {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: #181818;
  border: 1px solid #f3cc8e;
}

.nav-contact-button:hover {
  color: black;
  background-color: #f3cc8e;
  cursor: pointer;
}

/* Banner */
main {
  margin-bottom: 10rem;
}

.main-banner {
  background: #f3cc8e;
  width: 50vw;
  padding-left: 25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-banner h1 {
  font-size: clamp(1rem, 1.4rem + 3vw, 5rem);
  color: black;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-container {
  display: none;
  overflow: hidden;
  z-index: 0;
}

img {
  pointer-events: none;
}

.carousel-btn {
  z-index: 1;
  font-size: 5rem;
  color: #f3cc8e;
  background-color: inherit;
  text-align: center;
  border: none;
  padding: 1rem;
  opacity: 0.5;
}

.carousel-btn:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
  color: #f3cc8e;
}

.show {
  display: block;
}

/* carousel move right */

.slide-right {
  transform: translateX(100%);
  transition: transform 500ms ease;
}

/* carousel move left */

.slide-left {
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

.wrapper {
  outline: 1px solid blue;
}
