* {
  box-sizing: border-box;
  color: white;
}

@import "./about.css";

.hero-section-nav {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.hero-section-nav .logo-container {
  width: 45px;
  height: auto;
  overflow: hidden;
}

.hero-section-nav .center-bar {
  max-width: 900px;
  border-radius: 2rem;
  padding: 1rem 5rem;
  background-color: #292622;
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  font-weight: 1500;
  margin: 0 auto;
  text-transform: uppercase;
}

#center-bar-contact {
  display: none;
}
.hero-section-nav .center-bar a:hover {
  color: #f3cc8e;
  cursor: pointer;
}

.hero-section-nav .nav-contact-button,
.nav-contact-button {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: #181818;
  border: 1px solid #f3cc8e;
}

.nav-contact-button:hover {
  color: black;
  background-color: #f3cc8e;
  cursor: pointer;
}

/* Banner */
main {
  margin-bottom: 10rem;
}

.main-banner {
  background: #f3cc8e;
  width: 50vw;
  padding-left: 25%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-banner h1 {
  font-size: clamp(1rem, 1.4rem + 3vw, 5rem);
  color: black;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-container {
  display: none;
  overflow: hidden;
  z-index: 0;
}

img {
  pointer-events: none;
}

.carousel {
  margin-bottom: 10rem;
  border-top: 1px solid #f3cc8e;
  border-bottom: 1px solid #f3cc8e;
  padding: 2rem;
}

.carousel-btn {
  z-index: 1;
  font-size: 5rem;
  color: #f3cc8e;
  background-color: inherit;
  text-align: center;
  border: none;
  padding: 1rem;
  opacity: 0.5;
}

.carousel-btn:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
  color: #f3cc8e;
}

.show {
  display: block;
}

/* carousel move right */

.slide-right {
  transform: translateX(100%);
  transition: transform 500ms ease;
}

/* carousel move left */

.slide-left {
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

.indicator {
  display: flex;
  justify-content: center;
  line-height: 0;
  gap: 0.5rem;
}

.index {
  font-size: 5rem;
  width: 10px;
  height: 10px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.3);
}

.index-selected {
  background-color: rgb(255, 255, 255, 1);
}

.banner {
  padding: 0.5rem 10rem;
}

.banner .text {
  font-size: 4rem;
  text-align: center;
  color: #f3cc8e;
}

.carousel-mobile {
  display: none;
}

.product-name {
  padding: 1rem;
  background: #f3cc8e;
  border: 1px solid;
  color: #000;
  font-size: 1.2rem;
}

.product-name:hover {
  cursor: pointer;
}

.inactive {
  display: none;
}

.catalog {
  padding-bottom: 5rem;
}
label,
select {
  font-size: 1.5rem;
  margin: 3rem 0rem 1rem 0rem;
}

label {
  margin-left: 5rem;
}

select {
  padding: 0.5rem 1rem;
}

select,
option {
  color: black;
}

option:hover {
  cursor: pointer;
}

.content-wrapper {
  height: 80vh;
  overflow-y: scroll;
  padding: 0rem 5rem;
}

.inner-list {
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 2rem;
}

.product-active::before {
  content: "▼ ";
  color: #000;
}

.product-inactive::before {
  content: "► ";
  color: #000;
}

.int-projects {
  margin-bottom: 10rem;
}

.int-projects h1,
.local-projects h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.polaroid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
}

.frame .image-container {
  width: 75%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame .image-container img {
  border: 12px solid white;
  border-bottom: 65px solid white;
}

.polaroid {
  padding: 2rem;
}

.polaroid p {
  font-size: 2rem;
  opacity: 0.9;
  text-align: center;
}

.show-button {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 1rem 1rem;
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
  opacity: 0.5;
  background-color: #181818;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 3px solid rgb(255, 255, 255, 0.3);
  border-top: none;
}

.show-button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
